.item
    margin: 1rem 0
    padding: 1rem
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26)
    border-radius: 6px
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    background-color: #f6d198

    &__title
        padding-left: 30px

    &__actions
        padding-right: 30px
        display: flex
        flex-direction: row
        width: 10%
        //background-color: blue
        justify-content: space-around

    &__header
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-between
        width: 100%

img
    width: 50vw
    height: 50vh
